<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>供应商审核</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 供应商管理 <span class="c-gray en">&gt;</span> 供应商审核 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">

{literal}


  <div class="text-c">
    <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、企业名、联系人" value="" id="keyword" name=""><button type="button" class="btn btn-success" id="sec" name=""><i class="icon-search"></i> 搜索</button>

  </div>
  <div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="icon-trash"></i> 批量删除</a>
    <a href="javascript:;" onclick="user_add('550','','添加用户','user-add.html')" class="btn btn-primary radius"><i class="icon-plus"></i> 添加用户</a>
    <a class="btn btn-success radius"><i class="icon-trash"></i><span style="margin-bottom: 5px;">认证结果</span>
      <select  style="width: 88px;height: 29px; margin-top: -4px;" class="input-text" style="width:250px" id="myselect" name="">
        <option value="">-选择-</option>
        <option value="">全部</option>  
        <option value="认证通过">认证通过</option> 
        <option value="待认证">待认证</option> 
        <option value="认证不通过">认证不通过</option> 
      </select>
    </a>
    </span>

    <!-- <span class="r">共有数据：<strong>88</strong> 条</span> -->
  </div>
  {/literal}
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
        <th width=""><input type="checkbox" name="" value=""></th>
        <th width="">会员名称</th>
        <th width="">企业名称</th>
        <th width="">证件编码</th>
        <th width="">联系人</th>
        <th width="">手机</th>
        <th width="">服务费比例</th>
        <th width="">认证结果</th>
        <th width="">审核时间</th>
        <th width="">操作</th>
        <!-- <th width="70">状态</th> -->
      </tr>
    </thead>
    <tbody>
      {volist name="res2" id="vo"}
        <tr class="text-c">
          <td><input type="checkbox" value="1" name=""></td>
          <td>{$vo.EnrolName}</td>
          <td>{$vo.Name}</td>
          <td>{$vo.DocNo}</td>
          <td>{$vo.Contact}</td>
          <td>{$vo.Phone}</td>
          <td>{$vo.DecFd2}%</td>
          <td>{$vo.AuthentResult}</td>
          <td>{$vo.AuditTime}</td>
          <td><a id="info" class="btn btn-primary radius" data-id="{$vo.ID}" href="{:url('admin/User/user_examine_info',['id' => $vo['ID']])}">查看</a></td>
        </tr>
      {/volist}  
    </tbody>
  </table>

  <div id="pageNav" class="pageNav">
    <style type="text/css">
    .pagination li{
      display: inline-block;
      text-align: center;
    }
     </style>   

    <ul class="pagination">
    <li><a href="?page={if $page>1}{$page-1}{else}1{/if}">&laquo;上一页</a></li>
    <li class="disabled"><a href="?page={$page+1}"><span>下一页&raquo;</a></span></li>
    </ul>
  </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
  $("#sec").click(function (){
    var keyword =$("#keyword").val();
    window.location.href="__ROOT__/admin/user/user_examine/keyword/"+keyword;
   });

  $("#myselect").change(function(){
    var state=$("#myselect").val();
    // alert(state);
    window.location.href="__ROOT__/admin/user/user_state/keyword/"+state;
  });
</script>
</body>
</html>
