<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>供应商详情</title>
<style type="text/css">
	#user-name::-webkit-input-placeholder {
	color: #2F4F4F;
}
</style>
</head>
<body>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-user-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				商品标题：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="" placeholder="{$res2['Title']}" id="user-name" name="product-category-name">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				商品分类：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<select style="width:200px;margin-right: 10px" class="input-text">
				{if condition="$one_cate==''"}
					<option value="">-请选择-</option>
				{else /} 					
					<option value="" selected="selected">{$one_cate['Name']}</option>
				{/if}		
					<!-- <option value="男">{$res2['ProductClass']}</option>
					<option value="女">女</option> -->				
				</select>
				<select style="width:200px;" class="input-text">

					{if condition="$second_cate==''"}
					<option value="">-请选择-</option>
					{else /} 
					<option value="" selected="selected">{$second_cate['Name']}</option>
					{/if}

					
					<!--<option value="" selected="selected">-未知-</option>
					 <option value="男">男</option>$second_cate
					<option value="女">女</option> -->				
				</select>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				商品图片：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<img width="150" height="130" src="http://life.gzruizi.com/{$res2['Img']}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				商品价格：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="" placeholder="{$res2['Price']}" id="user-name" name="product-category-name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				商品销量：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="" placeholder="{$res2['SaleNum']}" id="user-name" name="product-category-name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				浏览次数：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="" placeholder="{$res2['ClickNum']}" id="user-name" name="product-category-name">  
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				所属商店：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="" placeholder="{$res2['Name']}" id="user-name" name="product-category-name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				商品图集：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<img src="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				商品状态：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<select style="width:200px;margin-right: 10px" class="input-text">
				{if condition="$res2['Status']=='上架'"} value1
					<option value="上架" selected="selected">{$res2['Status']}</option>
					<option value="下架">下架</option>
				{else /} 
					<option value="上架">上架</option>
					<option value="下架" selected="selected">{$res2['Status']}</option>
				{/if}
				
									
				</select>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				创建时间：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="" placeholder="{$res2['TimeFd1']}" id="user-name" name="product-category-name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				商品详情：</label>
			<div style="width: 800px" class="formControls col-xs-6 col-sm-6">
				<div class="am-form-group">
                    
                    <div class="am-u-sm-10">
                        <script name="content" id="editor" type="text/plain" style="width:100%;height:500px;">{$res2['Detail']}</script>

                    </div>
                </div>
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-9 col-offset-2">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
				<button onClick="javascript:history.back(-1);" class="btn btn-success radius" type="button">&nbsp;&nbsp;返回&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>


<script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/utf8-php/ueditor.config.js"></script>

<script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/utf8-php/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/utf8-php/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var ue = UE.getEditor('editor');
</script>
</body>
</html>