<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>商品管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">

{literal}

{/literal} 
  <div class="text-c">
    
    <input type="text" class="input-text" style="width:250px" value="" placeholder="输入商品名" id="keyword" name=""><button type="submit" class="btn btn-success" id="sec" name=""><i class="icon-search"></i> 搜商品</button>
  </div>
<form class="Huiform" method="post" action="{:url('admin/Goods/delete_all')}" target="_self">
  <div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">
    <!-- <a href="javascript:;" onclick="user_add('550','','添加用户','user-add.html')" class="btn btn-primary radius"><i class="icon-plus"></i> 添加商品</a> -->
     <button type="submit" onclick="return confirm('确定要删除以下数据吗')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</button>
    <a class="btn btn-success radius"><i class="icon-trash"></i> 店铺名称：<input style="width: 130px;height: 25px; margin-top: -3px;" type="text" class="input-text" style="width:250px" value="" placeholder="输入店铺名" id="shopname" name=""></a>
    </span>
    <!-- <span class="r">共有数据：<strong>88</strong> 条</span> -->
  </div>

  <table class="table table-border table-bordered table-bg table-hover table-sort">
      <thead>
        <tr class="text-c">
          <th><input name="" type="checkbox" value=""></th>
          <th>序号</th>
          <th width="180">商品名称</th>
          <th>商品图片</th>
          <th>价格</th>
          <th>销量</th>
          <th>浏览次数</th>
          
          <th width="120">所属店铺</th>
          <th>上架时间</th>
          <th width="40">商品状态</th>
          <th width="100">操作</th>
        </tr>
      </thead>
      <tbody>
        {volist name="res2" id="vo"}
        <tr class="text-c">
          <td><input type="checkbox" value="{$vo.ID}" name="id[]"></td>
          <td>{$vo.ROW_NUMBER}</td>
          <td>{$vo.Title}</td>
          <td><a href="javascript:;"><img width="100" height="75" class="picture-thumb" src="http://life.gzruizi.com/{$vo.Img}"></a></td>
          <td>{$vo.Price}</td>
          <td>{$vo.SaleNum}</td>
          <td>{$vo.ClickNum}</td>
         
          <td width="120">{$vo.Name}</td>
          <td>{$vo.TimeFd1}</td>
          <td class="td-status">
          {if condition="$vo.Status=='下架'"} <span class="label label-defaunt radius">已{$vo.Status}</span>
          {elseif condition="$vo.Status=='上架'"/}<span class="label label-success radius">已{$vo.Status}</span>
          
          {/if}

          <!-- <span class="label label-success radius">{$vo.Status}</span> -->
          </td>
          <td class="td-manage">
          {if condition="$vo.Status=='下架'"}
            <a style="text-decoration:none" class="put_id" data-id="{$vo.ID}" onClick="picture_start(this,'{$vo.ID}')" href="javascript:;" title="上架"><i class="Hui-iconfont">&#xe603;</i></a>
          {elseif condition="$vo.Status=='上架'"/}
          <a style="text-decoration:none" class="put_id" data-id="{$vo.ID}" onClick="picture_stop(this,'{$vo.ID}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
          {/if}
          <a style="text-decoration:none" class="ml-5" href="{:url('admin/Goods/info',['id' => $vo['ID']])}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
          <a style="text-decoration:none" class="ml-5" onClick="picture_del(this,'{$vo.ID}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
</form>
  <div id="pageNav" class="pageNav">
    <style type="text/css">
    .pagination li{
      display: inline-block;
      text-align: center;
    }
     </style>   

    <ul class="pagination">
    <li><a href="?page={if $page>1}{$page-1}{else}1{/if}">&laquo;上一页</a></li>
    <li class="disabled"><a href="?page={$page+1}"><span>下一页&raquo;</a></span></li>
    </ul>
  </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
  $("#sec").click(function (){
    var keyword =$("#keyword").val();
    // alert(keyword);
    window.location.href="__ROOT__/admin/Goods/goods_list/keyword/"+keyword;
   });

  $("#shopname").blur(function (){
    var keyword =$("#shopname").val();
    // alert(keyword);
    window.location.href="__ROOT__/admin/Goods/goods_shop/keyword/"+keyword;
   });


  /*一元购-下架*/
function picture_stop(obj,id){
  
  layer.confirm('确认要下架吗？',function(index){
    var sid=id;
        var one="下架";
    // alert(sid);
        $.ajax({
            type: 'POST',
            url: "{:url('admin/Goods/onedollar_status_edit')}",
            dataType: 'json',
            data:{'movieId':id, 'status':one},
            success: function(data){               
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="put_id" data-id='+sid+' onClick="picture_start(this,'+sid+')" href="javascript:;" title="上架"><i class="Hui-iconfont">&#xe603;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                    $(obj).remove();

                    layer.msg('已下架!',{icon: 5,time:1000});
            },            
        });     
  });
}
/*一元购-发布*/
function picture_start(obj,id){
  layer.confirm('确认要上架吗？',function(index){
    var sid=id;
        var one="上架";
    // alert(sid);
        $.ajax({
            type: 'POST',
            url: "{:url('admin/Goods/onedollar_status_edit')}",
            dataType: 'json',
            data:{'movieId':id, 'status':one},
            success: function(data){               
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="put_id" data-id='+sid+' onClick="picture_stop(this,'+sid+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已上架</span>');
                $(obj).remove();
                layer.msg('已上架!',{icon: 6,time:1000});
            },            
        });
  });
}

/*删除*/
function picture_del(obj,id){
    var id=id;
    // alert(id);
  layer.confirm('确认要删除吗？',function(index){
    $.ajax({
      type: 'POST',
      url: "{:url('admin/Goods/delete')}",
      dataType: 'json',
            data:{movieId:id},
      success: function(data){               
        $(obj).parents("tr").remove();
        layer.msg('已删除!',{icon:1,time:1000});
      },
      error:function(data) {
        console.log(data.msg);失败
      },
    });   
  });
}


</script>
</body>
</html>
